google-generativeai
requests
opencv-python-headless
streamlit
pillow
psutil
numpy
plotly
dill
streamlit-webrtc
av
scipy
huggingface_hub
yt_dlp
onnxruntime
pytubefix
torch
torchvision
matplotlib
streamlit_navigation_bar
