opencv-python-headless
streamlit
google-generativeai
requests
pillow
psutil
numpy
pandas
plotly
dill
streamlit-webrtc
av
scipy
huggingface_hub
yt_dlp
onnxruntime
pytubefix
torch
torchvision
matplotlib
seaborn
pyyaml
tqdm
streamlit_navigation_bar
